[submodule "machine_engineer/pip_package_practice.git"]
	path = machine_engineer/pip_package_practice.git
	url = git@github.com:thanakijwanavit/pip_package_practice.git
[submodule "ios_development/pitch_perfect"]
	path = ios_development/pitch_perfect
	url = git@github.com:thanakijwanavit/pitch_perfect.git
[submodule "computer_vision/exercise"]
	path = computer_vision/exercise
	url = git@github.com:thanakijwanavit/computer_vision.git
[submodule "machine_engineer/sentiment_analysis"]
	path = machine_engineer/sentiment_analysis
	url = git@github.com:thanakijwanavit/sentiment_analysis_ai.git
